:root {
    --pink-light: #fdf2f8;
    /* --pink-light: rgb(253, 242, 248); */
    --pink-pastel: #f9a8d4;
    /* --pink-pastel: rgb(249, 168, 212); */
    --pink-medium: #ec4899;
    /* --pink-medium: rgb(236, 72, 153); */
    --pink-dark: #9d174d;
    /* --pink-dark: rgb(157, 23, 77); */
    --gold: #d4a574;
    /* --gold: rgb(212, 165, 116); */
    --champan: #F7E7CE;
    /* --champan: rgb(247, 231, 206); */
}
body {
    font-family: "Raleway", sans-serif;
}
h1,h2,h3 {
    font-family: "Playfair Display", serif;
}
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* musica bar */
.player-container {
    /* background-color: var(--pink-light); */
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
    color: #f8fafc;
}

p {
    margin: 0 0 20px 0;
    color: #1a1c1f;
    font-size: 0.9rem;
}

.progress-area {
    margin-bottom: 20px;
}

/*barra de recorrido */
.progress-bar {
    width: 100%;
    cursor: pointer;
    accent-color: var(--pink-dark); /* Color del indicador en navegadores modernos */
}

.time-letters {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    color: #1a1c1f;
    margin-top: 5px;
}

/* Botón p/s musica */
.btn-toggle {
    background-color: var(--champan);
    color: #0f172a;
    border: none;
    padding: 5px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 12px rgba(56, 189, 248, 0.3);
}

.btn-toggle:hover {
    background-color: var(--pink-medium);
    transform: scale(1.05);
}

/*  */

.hero-overlay {
    background: linear-gradient(180deg,
    rgba(253, 242, 248, 0.3) 0%,
    rgba(253, 242, 248, 0.85) 60%,
    rgba(253, 242, 248, 1) 100%
    );
}
.gallery-scroll {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
.gallery-scroll::-webkit-scrollbar {
    display: none;
}
.gallery-scroll img {
    scroll-snap-align: center;
    flex-shrink: 0;
}
.color-swatch {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.float-anim {
    animation: float 3s ease-in-out infinite;
} 
.envelope {
    font-size: 2rem;
    display: inline-block;
    animation: float 2.5s ease-in-out infinite;
}
.envelope:nth-child(2) {
    animation-delay: 0.5s;
}
.envelope:nth-child(3) {
    animation-delay: 1s;
}
